<footer class="site-footer" id="pagefooter">
    <div class="container-fluid bottop">
        <div class="row align-items-end">
            <div class="col-lg">
                <div class="logo_bot wow fadeInUp"><img src="/logo.png" alt=""></div>
                <ul class="botnav wow fadeInUp">
                    <li><a href="/">首页</a></li>
                    <li><a href="/about">实验室概况</a></li>
                    <li><a href="/revers">实验室</a></li>
                    <li><a href="/news">新闻中心</a></li>
                    <li><a href="/contact">联系我们</a></li>
                </ul>
            </div>
            <div class="col-lg-auto">
                <div class="row">
                    <div class="col">
                        <div class="qr">
                            <img src="Upload/Company/20201029/201029154456686891E49B18A.png" alt="官方公众号">
                            <div class="name">官方公众号</div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="qr">
                            <img src="Upload/Company/20201029/20102915430114877C84D8334.png" alt="官方微博">
                            <div class="name">官方微博</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bot">
        <div class="copyright wow fadeInDown">
            Copyright &copy; &#x677E;&#x5C71;&#x6E56;&#x6750;&#x6599;&#x5B9E;&#x9A8C;&#x5BA4; All Rights Reserved. <a target="_blank" href="https://beian.miit.gov.cn/">&#x7CA4;ICP&#x5907;18107825&#x53F7;</a> Design By <a target="_blank" href="//www.inholy.com">Holy</a>
        </div>
    </div>
</footer>