<!DOCTYPE html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <title>海凌实验室</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/styles.min.css?v=1&amp;v=22ARR_3KADFRyJOWGukjM9FgEJr2utlfaMeco_uO1s4" rel="stylesheet">
    <script src="vendor/wow/dist/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
</head>

<body>
    <%- include("particle/header.ejs");%>
    </header>
    <div class="banner banner-about" style="background-image:url(/8.jpg)">

    </div>
    <div class="wrapper">
        <div class="page page-about pb-media-5">
            <div class="container">

                <section class="s1 mb-media-5 mt-n-30">
                    <div class="row">
                        <div class="col-lg-auto">
                            <div class="pic wow fadeInLeft"><img alt="" src="/logo.png" style="width: 200px; height: 178px;" /></div>
                        </div>

                        <div class="col-lg">
                            <div class="intro">湖南海凌科技园（湖南海凌科技企业孵化器有限公司）座落在风景秀丽的洞庭湖畔--湖南省岳阳市。 湖南海凌科技园（湖南海凌科技企业孵化器有限公司）成立于2010年，公司位于国家级开发区岳阳经济开发区内，目前公司自拥有土地面积近80亩，总孵化面积23000平方米，2012年获得“岳阳市先进制造产业科技企业孵化器”称号，2013年获得“湖南省科技企业孵化器”称号，2015年度获得“湖南省创业孵化基地”，2016年荣获“湖南省大众创业万众创新示范基地”，同年获得“国家级科技企业孵化器”称号，是全市首家国家级民营科技企业孵化器。
                                湖南海凌科技园（湖南海凌科技企业孵化器有限公司）始终秉承“善心善行，合作共赢”的经营理念，“科技创新，务实奉献”的企业精神，致力于为创业者提供更好的环境和服务。

                            </div>
                        </div>
                    </div>
                </section>

                <section class="s2">
                    <div class="pic"><img alt="" class="wow fadeInUp" src="Upload/Adlmage/20210317/b1.jpg" /></div>

                    <h3 class="title">过渡办公场所：</h3>

                    <p>拥有土地面积近80亩，总孵化面积23000平方米</p>
                </section>

                <section class="s3">
                    <div class="pic"><img alt="" src="Upload/Adlmage/20210826/b2.jpg" /></div>

                    
                </section>
            </div>
        </div>
    </div>
    <%-include('particle/footer.ejs'); %> 
    <a class="toTop" id="toTop" href="javascript:void(0);"><i class="iconfont icon-top"></i></a>
    <script src="vendor/modernizr-3.8.0.min.js"></script>
    <script src="libs/jquery-1.12.4.min.js"></script>
    <script src="vendor/jquery.easing.min.js"></script>
    <script src="bootstrap/bootstrap.min.js"></script>
    <script src="app.js?v=gs54AUA1cshXmvth8M3UaFnKnPb2kT6GUoWV_l-JE-8"></script>

</body>

</html>