<!DOCTYPE html>
<html>

<head>
    <title>预定记录</title>
    <link href="/myself.css" rel="stylesheet">
</head>


<header class="site-header" id="site-header">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-auto">
                <a class="logo" href="/"><img id="logo" src="/logo.png" alt=""></a>
            </div>
        </div>
    </div>
</header>
<img src="/7.png" style="margin-left:45%;border-radius: 50%;width: 150px;height: 150px;">
<div class="wrapper">
    <div class="page-news pb-media-5">
        <div class="container">
            <div class="fixednav">
                <ul class="nav">

                    <li class="active">

                        <a href="/information/admin">
                            个人信息
                        </a>
                    </li>
                    <li class="">

                        <a href="/myself/adminmyself">
                            预定记录
                        </a>
                    </li>
                    <li class="">
                        <a href="/feedbox">
                           反馈邮箱
                        </a>
                    </li>


                </ul>
            </div>
            <div class="fixednav2">
                <div id="list">
                    <ul>
                        <li id="name" value=""></li>
                        <li id="identify"></li>
                        <li id="phone"></li>
                        <li id="e-mail"></li>
                        <li id="use"></li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="page_main ">
            <div class="clearfloat "></div>
        </div>
    </div>
</div>

</div>
</body>
<script>
    window.onload = function() {
        document.getElementById("name").innerHTML = "姓名：" + "何晰嵩";
        document.getElementById("identify").innerHTML = "身份证：" + "43100";
        document.getElementById("phone").innerHTML = "电话：" + "18528320126";
        document.getElementById("e-mail").innerHTML = "邮箱：" + "147252599@qq.com";
        document.getElementById("use").innerHTML = "身份：" + "会员";

        $.ajax({
            type: "post",
            url: "",
            dataType: "json",
            async: false,
            success: function(data) {
                var htdata = data.data;
                var isexist = htdata.isexist;
                if (isexist == "report") {
                    alert("实验报告提交成功");
                }


            },
            error: function() {
                alert("传输失败");
            }
        });
    }
</script>

</html>